.navbar-nav > li{
  margin-left: 12px;
  margin-right: 12px;
}

.jumbotron {
  margin-bottom: 0;
}

.container {
  width: 100%;
}

.custom-nav-items {
  font-weight: 800;
  font-size: 20px;
  color: white;
}

#donate-btn {
  margin-left: 20px;
}

#social-media i {
  font-size: 50px;
  margin: auto 20px;
  margin-top: 20px;
}

.content {
  text-align: center;
}

.image {
  width: 70%;
  max-height: 550px;
  max-width: 600px;
  margin: 1px auto;
}

#contact {
  margin-bottom: 0;
}
