
.navbar-nav > li{
  margin-left: 12px;
  margin-right: 12px;
}

.jumbotron {
  margin-bottom: 0;
  background-color: rgb(30, 32, 34);
}

.navbar-transparent {
  background-color: none;
}

#robomaster-hero{
  width: 100%;
  background-size: cover;
  margin-top: -60;    
}

#robomaster-hero-image{
  width: 100%;
}

.ubc-emblem{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10%;
  top: 30%;
}

.robomaster-hero-title{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 60%;
  font-family: 'Montserrat', sans-serif;
  outline: black;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  font-size: 60px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#robomaster-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.custom-nav-items {
  font-weight: 400;
  font-size: 17px;
}

#social-media i {
  font-size: 50px;
  margin: auto 20px;
  margin-top: 20px;
}

.content {
  text-align: center;
}

.image {
  width: 70%;
  max-height: 550px;
  max-width: 600px;
  margin: 1px auto;
}

#contact {
  margin-bottom: 0;
  background-color: black;
}

body {
  color: white;
  background-color: black;
}
